.app__contact {
  width: 100%;
  height: 80vh;
  padding: 20px;
}

.app__contact-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.app__contact-content_userinfo {
  width: 50%;
  height: 400px;
  padding: 20px;
  margin: 1rem 1rem;
}

.app__contact-content_userinfo p.contact-details {
  margin-bottom: 1rem;
  border-top: 2px solid var(--color-lightgray);
  border-bottom: 2px solid var(--color-lightgray);
  text-align: left;
  color: var(--color-blue);
  padding: 1rem 0;
}

.app__contact-content_userinfo-items {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 3rem auto;
}

.app__contact-content_userinfo-items svg {
  margin-right: 2rem;
  color: var(--color-blue);
}

.p__opensans.contact-email {
  text-transform: unset;
}

.app__contact-content_form {
  padding: 20px;
  width: 50%;
  height: 400px;
  margin: 1rem 1rem;
}

.app__contact-content_form p {
  text-align: end;
  color: var(--color-blue);
  margin-bottom: 1rem;
  border-top: 2px solid var(--color-lightgray);
  border-bottom: 2px solid var(--color-lightgray);
  padding: 1rem 0;
}

.app__contact-content_form-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.app__contact-content_form-items input {
  width: 65%;
  max-width: 75%;
  padding: 10px 10px;
  border: 1px solid var(--color-gray);
  border-radius: 5px;
  margin-bottom: 1rem;
  font-size: inherit;
  font-family: var(--font-base);
}

.app__contact-content_form-items input:focus {
  outline: none;
  box-shadow: 0 0 5px 0 var(--color-gray);
  transition: all 100ms;
}

.app__contact-content_form-items textarea {
  width: 65%;
  max-width: 75%;
  resize: none;
  height: 150px;
  border: 1px solid var(--color-gray);
  border-radius: 5px;
  padding: 10px 10px;
  font-size: inherit;
  font-family: var(--font-base);
}

.app__contact-content_form-items textarea:focus {
  outline: none;
  box-shadow: 0 0 5px 0 var(--color-gray);
  transition: all 100ms;
}

.app__contact-content_form-items button {
  border: 2px solid var(--color-blue);
  padding: 10px 20px;
  margin-top: 0.8rem;
}

.app__contact-content_form-items button:hover {
  background-color: var(--color-blue);
  color: var(--color-lightgray);
}

@media screen and (max-width: 1150px) {
  .app__contact {
    height: unset;
  }
  .app__contact-content {
    flex-direction: column;
  }
  .app__contact-content_form,
  .app__contact-content_userinfo {
    width: 100%;
    height: 300px;
    padding: 15px;
    margin: 1rem 1rem;
  }
  .app__contact-content_userinfo-items {
    margin: 2rem auto;
  }
  .app__contact-content_form {
    height: 400px;
  }
}
