.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section__size {
  position: relative;
  min-height: calc(100vh - 120px);
}

.headtext__opensans {
  font-family: var(--font-base);
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.04em;
}

.p__opensans {
  font-family: var(--font-base);
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
}

.btn {
  padding: 10px 10px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  border-radius: 25px;
  color: var(--color-gray);
}

.btn:hover {
  background: var(--color-lightgray);
}

.svg-color {
  color: var(--color-gray);
}

@media screen and (max-width: 650px) {
  .headtext__opensans {
    line-height: 30px;
  }
  .p__opensans {
    font-size: 17px;
    line-height: 21px;
  }
}

@media screen and (max-width: 350px) {
  .headtext__opensans {
    line-height: 25px;
  }

  .p__opensans {
    font-size: 15px;
    line-height: 16px;
  }
}
